body{
    background-color: #F8F880;
    font-family: 'EB Garamond', serif;
}
.topnav {
    overflow: hidden;
    
    margin-left: 100px;
  }

.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #4a69d1;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(223, 81, 117);
    color: rgb(0, 0, 0);
  }
  
  .topnav .icon {
    display: none;
  }

  .top{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;

  }

  .heading{
    padding-top: 80px;
    font-size: 120px;
    font-weight: 400;
    margin-right: 50px;
    color: rgb(223, 81, 117);
    line-height: 1.25;
    margin-bottom: 36px;
    width: auto;
}

.next-project{
    font-size: 36px;
    color: rgb(223, 81, 117);
    padding-top: 136px;
    padding-bottom: 36px;
   
}

.subhead{
    font-size: 14px;
    color: rgb(223, 81, 117);
    max-width: 60%;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-left: 100px;
    margin-right: 100px;
}

.line{
    border-top: 1px solid rgb(223, 81, 117);
    margin-left: 100px;
    margin-right: 100px;
    
    
  }

  .grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    max-width: 70%;
    margin-left: 100px;
    margin-right: 100px;

  }
  
  .grid-items{
    
    font-size: 14px;
    color: rgb(223, 81, 117);
   
  }

  .image-container{
    display: grid;
    grid-template-rows: auto;
    width: 100%;
    padding: 10px;
    max-width: 500px;
  }







footer {
    
    bottom: 0;
  left: 0;
  right: 0;
  background: rgb(223, 81, 117);
  height: auto;
  width: 100%;
padding-top: 40px;
color: rgb(219, 234, 82);
  }
  
  .footer-content {
    display: flex;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .footer-content h3 {
    font-size: 32px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
  }
  
  .footer-content p {
    max-width: 400px;
  
    margin: 20px auto;
  
    line-height: 22px;
  
    font-size: 16px;
  
    color: rgb(219, 234, 82);
  }
  
  .socials {
    list-style: none;
  
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    margin: 1rem 0 3rem 0;
  }
  
  .socials li {
    margin: 0 10px;
  }
  
  .socials a {
    text-decoration: none;
    color: rgb(219, 234, 82);
    padding: 5px;
  }
  
  .socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color 0.4s ease;
  }
  
  .socials a:hover i {
    color: black;
  }
  
  .footer-bottom {
    background: rgb(223, 81, 117);
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
  }
  
  .footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
  }
  
  .footer-bottom p a {
    color: #F8F880;
    font-size: 16px;
    text-decoration: none;
  }
  
  .footer-bottom span {
    text-transform: uppercase;
  }
  
  .footer-menu {
    float: right;
  }
  
  .footer-menu ul {
    display: flex;
  }
  
  .footer-menu ul li {
    padding-right: 10px;
  
    display: block;
  }
  
  .footer-menu ul li a {
    color: #F8F880;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover {
    color: #F8F880;
  }
  



